// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import 'variables';

$background-color:  #eb9c3c;

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-comments {

  background-color: $background-color;

  .title {
    color: $title-color;
    margin-bottom: 15px;
  }

  .name {
    padding-left: 5px;
  }

  .comment-container {
    display: none;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
