@import 'variables';

header {
  font-family: "equipo_squaredance";
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
}

.coding {
  background: $panter-grey;
}

.staff {
  background: $panter-green;
}

.salary {
  background: $panter-blue;
}
