@import 'variables';

header {
  font-family: "equipo_squaredance";
  padding: 20px;
  font-size: 2.5rem;
  text-align: center;
}

.coding {
  background: $panter-grey;
}

.staff {
  background: $panter-green;
}

.salary {
  background: $panter-blue;
}

footer {
  margin-top: 30px;
  text-align: center;
}
