@import 'variables';

header {
  font-family: equipoSquaredance;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}

.coding {
  background: $panter-grey;
}

.staff {
  background: $panter-green;
}

.salary {
  background: $panter-blue;
}
