// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import 'variables';

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  .value {
    color: $value-color;
  }

  .change-rate {
    font-size: 30px;
    color: $value-color;
    font-weight: bold;
  }

  .icon-arrow-down {
    color: transparentize($value-color, 0.1);
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: $updated-at-color;
  }
}
