// Colors
$panter-blue: #4786BB;
$panter-green: #039EAD;
$panter-purple: #5D2973;
$panter-grey: #4D5667;

$background-color:  #4786BB;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// Spacing
$space: 1rem;
