<% content_for :title do %>Panter AG Dashboard<% end %>
<header>panter B dashboard</header>
<div class="gridster">
  <ul>

    <li class="salary" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="salary-performance" data-view="Number" data-title="<%= Date.today.prev_month.prev_month.strftime('%B').downcase %>'s performance" data-moreinfo="Factor of billable work"></div>
    </li>

    <li class="staff" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="employees" data-view="Number" data-title="employees"></div>
    </li>

    <li class="staff" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="contractors" data-view="Number" data-title="contractors"></div>
    </li>

    <li class="coding" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frameworks" data-view="List" data-title="top frameworks" data-unordered="true"></div>
    </li>

    <li class="salary" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="salary-graph" data-view="Graph" data-title="<%= Date.today.prev_month.prev_month.strftime('%B').downcase %>'s average salary" data-moreinfo="at an average workload of %{value}%" data-unordered="true" data-prefix="CHF "></div>
    </li>

    <li class="coding" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pull-request-comments" data-view="Number" data-title="Code review comments today" data-moreinfo="Number of comments on pull requests"></div>
    </li>

    <li class="coding" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="programming-languages" data-view="List" data-title="top languages" data-unordered="true"></div>
    </li>

    <li class="staff" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hours-worked" data-view="Number" data-title="hours worked this month"></div>
    </li>

    <li class="coding" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="commits" data-view="Number" data-title="commits today"></div>
    </li>

    <li class="coding" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="additions-deletions" data-view="Number2" data-title="added/deleted lines today" data-moreinfo="number of added and removed lines" data-prefix1="+" data-prefix2="-"></div>
    </li>

  </ul>
</div>

<footer>
  <span class="salary">salary figures</span>
  <span class="staff">staff figures</span>
  <span class="coding">coding figures</span>
</footer>
