<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="salary" data-id="salary-performance" data-view="Number" data-title="last month's performance" data-moreinfo="Factor of billable work in <%= Date.today.prev_month.strftime('%B') %>"></div>
    </li>

  </ul>
</div>
