<div class="gridster">
  <ul>

    <li class="staff" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="employees" data-view="Number" data-title="employees"></div>
    </li>

    <li class="staff" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="contractors" data-view="Number" data-title="contractors"></div>
    </li>

    <li class="staff" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hours-worked" data-view="Number" data-title="hours worked this month"></div>
    </li>

  </ul>
</div>


