// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
@import 'variables';

$background-color:  #12b0c5;
$value-color:       #fff;

$label-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {

  vertical-align: top;

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
    font-size: 15px;
    font-weight: bold;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    color: $value-color;
  }

  .updated-at {
    color: $updated-at-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
